<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
    <add name="main" connectionString="Server=(local);Database=ZipCodeData;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <!--<add name="main" connectionString="Server=AUSTRALIA\SQLEXPRESS;Database=ZipCodeData;Trusted_Connection=True;" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.serviceModel>
		<services>
			<service name="GeoLib.Services.GeoManager">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:1234"/>
						<add baseAddress="net.tcp://localhost:8009"/>
					</baseAddresses>
				</host>
				<!-- After to have added the baseAddress, you don't need to fill the entire address down here -->
				<!--<endpoint	address="net.tcp://localhost:8009/GeoService"-->
				<endpoint	address="GeoService"
							binding="netTcpBinding"
							contract="GeoLib.Contracts.IGeoService" />

				<endpoint	address="http://localhost/GeoServices"
							binding="basicHttpBinding"
							contract="GeoLib.Contracts.IGeoService" />

				<!-- Way to expose the metadata without getHttpEnabled. -->
				<endpoint	address="MEX"
							binding="mexTcpBinding"
							contract="IMetadataExchange" />

			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>